html, body {
  height: 100%;
  background: #ececec;
}

#root {
  height: 100%;
}

.ant-list-item-content-single {
  justify-content: space-between;
  align-items: center;
}

.ant-list-item {
  background: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 15px;
}

.ant-list-item .anticon {
  cursor: pointer;
  padding: 5px;
  transition: .3s;
}

.ant-list-item .anticon:hover {
  color: #1890ff;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding-top: 61px;
}

.wrapper-react-animations {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wrapper-ant-design {
  display: flex;
  justify-content: center;
  width: 100%;
}


@media screen and (max-width: 768px) {
  .main-content {
    padding: 0;
  }
}
